@{
    ViewData["Title"] = "Home";
}

<div class="text-center mb-5">
    <h1 class="display-5">SPOR SALONU YÖNETİM SİSTEMİ</h1>
    <p class="lead">Profesyonel antrenörlerimizle hedeflerine ulaş</p>
</div>

<hr />

<h2 class="text-center mb-4">Antrenörlerimiz</h2>

<div class="row text-center">

    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="~/images/emrebaş.jpg" class="card-img-top" alt="Emre Baş">
            <div class="card-body">
                <h5 class="card-title">Emre Baş</h5>
                <p class="card-text">Fitness Antrenörü</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="~/images/senabaş.jpg" class="card-img-top" alt="Sena Baş">
            <div class="card-body">
                <h5 class="card-title">Sena Baş</h5>
                <p class="card-text">Yoga Antrenörü</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="~/images/egefitness.jpg" class="card-img-top" alt="Ege Fitness">
            <div class="card-body">
                <h5 class="card-title">Ege Fitness</h5>
                <p class="card-text">CrossFit Antrenörü</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <img src="~/images/gökhansaki.jpg" class="card-img-top" alt="Gökhan Saki">
            <div class="card-body">
                <h5 class="card-title">Gökhan Saki</h5>
                <p class="card-text">Kick Boks Antrenörü</p>
            </div>
        </div>
    </div>

</div>
